{% extends 'base.html.twig' %}

{% block adminbody %}

    <h1>Product Category</h1>
    <br>
    <table class="table table-borderless table-sm">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ product_category.id }}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{ product_category.name }}</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>{{ product_category.description }}</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-secondary btn-sm">
      <a class="text-white" href="{{ path('product_category_edit', {'id': product_category.id}) }}">Edit</a>
    </button>
    <button type="button" class="btn btn-secondary btn-sm">
      <a class="text-white" href="{{ path('product_category_index', {'id': product_category.id}) }}">Back to index</a>
    </button>

{% endblock %}