{% extends 'base.html.twig' %}
{% block javascript %}

document.getElementById("button-back").style.visibility = "hidden";

{% endblock %}


{% block adminbody %}
    <h3>Product Tags</h3>
    <br>
    <h5>Create new tag</h5>
    <br>
      {{ include('product_tag/_form.html.twig') }}
    <br>
    <h5>List of tags</h5>
    <br>
    <table class="table table-borderless table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product_tag in product_tags %}
            <tr>
                <td>{{ product_tag.id }}</td>
                <td>{{ product_tag.name }}</td>
                <td>{{ product_tag.description }}</td>
                <td>
                <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2" role="group"> 
                    <button type="button" class="btn btn-secondary btn-sm">
                    <a class="text-white" href="{{ path( 'product_tag_edit' , {'id': product_tag.id}) }}">Edit</a>
                    </button>
                    </div>
                    <div class="btn-group" role="group">
                    {{ include('product_tag/_delete_form.html.twig') }}
                    </div>
                </div> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}